
table, th, td {
    border: 1px solid black;
  
}

th, td {
    padding: 10px;
    color:black;
    
}

#highscoreTable tr{
    text-align:left;
}



tbody tr:nth-child(even){
    background-color: #A9A9A9;
    color: #fff;
     
}

